.hidden-dialog-wrapper {
    display: none;
}


.hidden-dialog-wrapper.reveal {
    display: block;
    
    /* background: whitesmoke; 
    height: 9rem;
    width: 16rem; 
   
    margin: 15rem;
    border-radius: 1rem;
  */ 
  position: absolute;
  width: 25rem;
  height: 7rem;
  background: whitesmoke;
  border-radius: 1.5rem;
  padding: 1rem;
  
  text-align: center;
  color: #000;
   
}

.hidden-dialog-wrapper.reveal:before {
    content: "";
    position: absolute;
    border-right: 2.2rem solid whitesmoke;
    border-top: 1rem solid whitesmoke;
    border-bottom: 2.2rem solid transparent;
    left: 20rem;
    bottom: -2.2rem;
  }

.reveal-dialog {
   
    font-size: 2.2rem;
    font-family: "AmaticSC-Regular";
}  







/* NOT USING THIS AT THE MOMENT */ 

.reveal-second-hidden-button {
    margin: 4.5rem;
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    font-family: AmaticSC-Bold;
    font-size: 2.6rem;
    text-decoration: none;
    outline: 0;  /* removes outline when you press the button */ 

    background: rgb(218, 40, 40); 
    border: 2px solid #b12222;
    box-shadow: 2px 2px 5px rgb(39, 39, 39);

    
}

.hidden-div-two {
    display: none; 
}

.hidden-div-two.reveal {
    display: block; 
}


@keyframes arrow {
    0% {opacity: 0; }
    100% {opacity:1;}

}


.arrow.reveal {
    height: 2rem;
    width: 6rem;
    margin: 1rem;
    position: absolute;
    bottom: 0;
    animation: arrow 3s ease-in;
    
  
}

.arrow.reveal:after {
    content: "";
    height: 2rem;
    width: 2rem;
    margin: 1rem;
   position: absolute;
   bottom: 0;
  border: 1rem solid transparent;
  border-left: 1rem solid white;
  border-top: 1rem solid white;
  transform: rotate(0.63turn);
  animation: 4s ease-in;
}
