
.dialog-wrapper-three {
    display: none;
}


.dialog-wrapper-three.reveal {
    display: block;
   
    margin: 15rem;
  position: absolute;
  width: 25rem;
  height: 7rem;
  background: whitesmoke;
  border-radius: 1.5rem;
  padding: 1rem;
  
  text-align: center;
  color: var(--color-black);
  
   
}

.dialog-wrapper-three.reveal:before {
    content: "";
    position: absolute;
    border-right: 2.2rem solid whitesmoke;
    border-top: 1rem solid whitesmoke;
    border-bottom: 2.2rem solid transparent;
    left: 20rem;
    bottom: -2.2rem;
    
  }

  
  .video-wrapper {
    display: none;
  } 

  .video-wrapper.reveal {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      background: var(--color-black);
      z-index: 5;
      width: 40rem;
      height: 100vh;
} 

.last-button {
    display: none;
}

.last-button.reveal {
    display: block;
    align-self: center;
    z-index: 3;
    height: 16rem;
    width: 16rem;
    border-radius: 50%;
    font-family: AmaticSC-Bold;
    font-size: 2.6rem;
    text-decoration: none;
    outline: 0;  /* removes outline when you press the button */ 
    text-align: center;
    background: var(--color-red-button); 
    border: 2px solid var(--color-red-border);
    box-shadow: 2px 2px 5px var(--color-shadow);
}