.section-two {
display: none;
}

.section-two.reveal{
    display: block;
    
    height: 100vh;
    width: 100%;
    background: rgb(238, 129, 129);

    animation: arrow 3s ease-in
    }



.button-container {
    display: flex;
    flex-wrap: wrap;
}

    .buttons {
    margin: 4.5rem;
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    font-family: "AmaticSC-Bold";
    font-size: 2.6rem;
    text-decoration: none;
    outline: 0;  /* removes outline when you press the button */ 
    border: 2px solid #b12222;
    box-shadow: 2px 2px 5px rgb(39, 39, 39);
    }
