:root {
    font-size: 10px; 
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: black; 
}


@font-face {
    font-family: "AmaticSC-Bold";
    src: url('/fonts/AmaticSC-Bold.woff'),
 url('/fonts/AmaticSC-Bold.woff2'); 
}


@font-face {
    font-family: "AmaticSC-Regular";
    src: url('/fonts/AmaticSC-Regular.woff'),
 url('/fonts/AmaticSC-Regular.woff2'); 
}