:root {
    font-size: 10px; 
    --color-red-button: #da2828;
    --color-red-border: #b12222; 
    --color-black: #050505;
    --color-grey-button: #5A5A5A;
    --color-white-smoke: #f5f5f5;
    --color-white: #ffffff;
    --color-shadow: #262626; 

    --font-family: "AmaticSC-Regular", Arial; 
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: black; 
}


@font-face {
    font-family: "AmaticSC-Bold";
    src: url('/fonts/AmaticSC-Bold.woff'),
 url('/fonts/AmaticSC-Bold.woff2'); 
}


@font-face {
    font-family: "AmaticSC-Regular";
    src: url('/fonts/AmaticSC-Regular.woff'),
 url('/fonts/AmaticSC-Regular.woff2'); 
}