.section-one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.section-one.hidden {
    display: none; 
}

.flexible-column {
    background-color: rgb(33, 40, 107);
    width: 10%;
    flex-grow: 1;
    height: 100vh;
    z-index: 1;
}

body {
    display: flex;
    justify-content: center;
    
    width: 100%;
    height: 100vh;
}

.section {
    
    height: 100vh;
    width: 100%;
   
    
}

main {
    display: flex;
    justify-content: center;
    background-color: rgb(71, 125, 156);
    height: 100vh;
    width: 80%;
    max-width: 1000px;
}

.button-one {
    align-self: center;
    height: 16rem;
    width: 16rem;
    border-radius: 50%;
    font-family: AmaticSC-Bold;
    font-size: 2.6rem;
    text-decoration: none;
    outline: 0;  /* removes outline when you press the button */ 

    background: rgb(218, 40, 40); 
    border: 2px solid #b12222;
    box-shadow: 2px 2px 5px rgb(39, 39, 39);
  
}

.button-one.hidden {
   
    display: none;
}

.reveal-first-hidden-button {
    margin: 4.5rem;
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    font-family: AmaticSC-Bold;
    font-size: 2.6rem;
    text-decoration: none;
    outline: 0;  /* removes outline when you press the button */ 

    background: rgb(218, 40, 40); 
    border: 2px solid #b12222;
    box-shadow: 2px 2px 5px rgb(39, 39, 39);

    
}

.hidden-div-one {
    display: none; 
}

.hidden-div-one.reveal {
    display: block; 
}



/* dialog - Jobbar på denna del!! Verkar inte fungera i js*/ 

.dialog-wrapper.hidden {
    display: none;
}


.dialog-wrapper {
   display: block; 
    position: absolute;
    background: whitesmoke; 
    height: 6rem;
    width: 15rem; 
   
    margin-top: 5rem;
    border-radius: 1rem;

   
}

.dialog.reveal {
   
    font-size: 1.7rem;
    font-family: "AmaticSC-Regular";
    margin: 1rem;
}  



/* .dialog {
    display: block; 
    background: whitesmoke; 
    height: 4rem;
    width: 10rem; 
} */ 