.section-one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.section-one.hidden {
    display: none; 
}

.flexible-column-one {
    background-color: #477d9c;
    width: 10%;
    flex-grow: 1;
    height: 100vh;
    z-index: 1;
}
.flexible-column-two{
    background-color: #477d9c;
    width: 10%;
    flex-grow: 1;
    height: 100vh;
    z-index: 1;
} 


body {
    display: flex;
    justify-content: center;
    
    width: 100%;
    height: 100vh;
}

.section {
   
    height: 100vh;
    width: 100%;
   
    
}

main {
    display: flex;
    justify-content: center;
    background-color: #477d9c;
    height: 100vh;
    width: 80%;
    max-width: 1000px;
}

